html{
    font-family:sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}
        body{
            margin:0
        }
        
        article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{
            display:block
        }
        audio,canvas,progress,video{
            display:inline-block
        }
        audio:not([controls]){
            display:none;height:0
        }
        progress{
            vertical-align:baseline
        }[hidden],
        template{
            display:none
        }

        a{
            background-color:transparent;
        }
        a:active,a:hover{
            outline-width:0
        }
        abbr[title]
        {
            border-bottom:none;text-decoration:underline;text-decoration:underline dotted
        }
        b,strong
        {
            font-weight:inherit;font-weight:bolder
        }
        dfn
        {font-style:italic
        }
        h1
        {font-size:2em;
            margin:.67em 0
        }
        mark
        {
            background-color:#ff0;
            color:#000
        }
        small
        {
            
            font-size:80%
        }
            sub,sup{
                font-size:75%;
                line-height:0;
                position:relative;
                vertical-align:baseline
            }
        sub
        {bottom:-.25em
        }
        sup{
            top:-.5em
        }
        img{
            border-style:none
        }
        svg:not(:root){
            overflow:hidden
        }
        code,kbd,pre,samp{
            font-family:monospace,monospace;
            font-size:1em
        }figure{
            margin:1em 40px
        }
        hr{
            box-sizing:content-box;
            height:0;
            overflow:visible
        }
        button,input,optgroup,select,textarea{
            font:inherit;margin:0}
        optgroup{
            font-weight:700}
        button,input{
            overflow:visible}
        button,select{
            text-transform:none
        }
        [type=reset],
        [type=submit],button,html [type=button]
        {
            -webkit-appearance:button;
        }
            [type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,
            [type=submit]::-moz-focus-inner,button::-moz-focus-inner{
                border-style:none;
                padding:0}
                [type=button]:-moz-focusring,
                [type=reset]:-moz-focusring,
                [type=submit]:-moz-focusring,button:-moz-focusring{
                    outline:1px dotted ButtonText
                }
                fieldset
                {border:1px solid silver;
                    margin:0 2px;
                    padding:.35em .625em .75em
                }
                legend{
                    box-sizing:border-box;
                    color:inherit;
                    display:table;
                    max-width:100%;
                    padding:0;
                    white-space:normal
                }
                textarea
                {
                    overflow:auto
                }
                [type=checkbox],
                [type=radio]
                {box-sizing:border-box;padding:0}
                [type=number]::-webkit-inner-spin-button,
                [type=number]::-webkit-outer-spin-button{
                    height:auto
                }
                [type=search]
        {
            -webkit-appearance:textfield;
            outline-offset:-2px
        }
        [type=search]::-webkit-search-cancel-button,
        [type=search]::-webkit-search-decoration{
            -webkit-appearance:none}::-webkit-input-placeholder
            {
                color:inherit;opacity:.54
            }::-webkit-file-upload-button
            {
                -webkit-appearance:button;
                
                font:inherit
            }
            html
                {
                    font:112.5%/1.625 -apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
                    box-sizing:border-box;
                    overflow-y:scroll;
                }
                    *{
                        box-sizing:inherit;
                    }
                    *:before{
                        box-sizing:inherit;
                    }
                    *:after
                    {
                        box-sizing:inherit;
                    }
                    body
                    {color:hsla(0,0%,0%,0.8);
                        font-family:-apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
                        font-weight:normal;
                        word-wrap:break-word;
                        font-kerning:normal;
                        -moz-font-feature-settings:"kern", "liga", "clig", "calt";
                        -ms-font-feature-settings:"kern", "liga", "clig", "calt";
                        -webkit-font-feature-settings:"kern", "liga", "clig", "calt";
                        font-feature-settings:"kern", "liga", "clig", "calt";
                    }
                    img
                    {
                        max-width:100%;
                        margin-left:0;
                        margin-right:0;
                        margin-top:0;
                        padding-bottom:0;
                        padding-left:0;
                        padding-right:0;
                        padding-top:0;
                        margin-bottom:0.8125rem;
                    }
                        h1
                        {
                            margin-left:0;
                            margin-right:0;
                            margin-top:2.4375rem;
                            padding-bottom:calc(0.40625rem - 1px);
                            padding-left:0;
                            padding-right:0;
                            padding-top:0;
                            margin-bottom:1.21875rem;
                            color:inherit;
                            font-family:-apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
                            font-weight:800;
                            text-rendering:optimizeLegibility;
                            font-size:2rem;
                            line-height:1.1;
                            border-bottom:1px solid hsla(0,0%,0%,0.07);
                        }
        
                        h2{
            margin-left:0;
            margin-right:0;
            margin-top:1.625rem;
            padding-bottom:calc(0.40625rem - 1px);
            padding-left:0;
            padding-right:0;
            padding-top:0;
            margin-bottom:0.40625rem;
            color:inherit;
            font-family:-apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
            font-weight:800;
            text-rendering:optimizeLegibility;
            font-size:1.51572rem;
            line-height:1.1;
            border-bottom:1px solid hsla(0,0%,0%,0.07);
        }
        h3
        {
            margin-left:0;
            margin-right:0;
            margin-top:0;
            padding-bottom:0;
            padding-left:0;
            padding-right:0;
            padding-top:0;
            margin-bottom:0.8125rem;
            color:inherit;
            font-family:-apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
            font-weight:800;
            text-rendering:optimizeLegibility;
            font-size:1.31951rem;
            line-height:1.1;
        }
        h4
        {
            margin-left:0;
            margin-right:0;
            margin-top:0;
            padding-bottom:0;
            padding-left:0;
            padding-right:0;
            padding-top:0;
            margin-bottom:0.8125rem;
            color:inherit;
            font-family:-apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
                font-weight:800;
                text-rendering:optimizeLegibility;
                font-size:1rem;
                line-height:1.1;
            }
            h5
            {
                margin-left:0;
                margin-right:0;
                margin-top:0;
                padding-bottom:0;
                padding-left:0;
                padding-right:0;
                padding-top:0;
                margin-bottom:0.8125rem;
                color:inherit;
                font-family:-apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
                font-weight:800;
                text-rendering:optimizeLegibility;
                font-size:0.87055rem;
                line-height:1.1;
            }
                h6
                {
                    margin-left:0;
                    margin-right:0;
                    margin-top:0;
                    padding-bottom:0;
                    padding-left:0;
                    padding-right:0;
                    padding-top:0;
                    margin-bottom:0.8125rem;
                    color:hsla(0,0%,0%,0.53);
                    font-family:-apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
                    font-weight:800;
                    text-rendering:optimizeLegibility;
                    font-size:0.81225rem;
                    line-height:1.1;
                }
                    hgroup
                    {
                        margin-left:0;
                        margin-right:0;
                        margin-top:0;
                        padding-bottom:0;
                        padding-left:0;
                        padding-right:0;
                        padding-top:0;margin-bottom:0.8125rem;
                    }
                    ul{margin-left:1.625rem;
                        margin-right:0;
                        margin-top:0;
                        padding-bottom:0;
                        padding-left:0;
                        padding-right:0;
                        padding-top:0;
                        margin-bottom:0.8125rem;
                        list-style-position:outside;
                        list-style-image:none;
                    }
                        ol
                        {
                            margin-left:1.625rem;
                            margin-right:0;
                            margin-top:0;
                            padding-bottom:0;
                            padding-left:0;
                            padding-right:0;
                            padding-top:0;
                            margin-bottom:0.8125rem;
                            list-style-position:outside;
                            list-style-image:none;
                        }
                        dl
                        {
                            margin-left:0;
                            margin-right:0;
                            margin-top:0;
                            padding-bottom:0;
                            padding-left:0;
                            padding-right:0;
                            padding-top:0;
                            margin-bottom:0.8125rem;
                        }
                        dd
                        {
                            margin-left:0;
                            margin-right:0;
                            margin-top:0;
                            padding-bottom:0;
                            padding-left:0;
                            padding-right:0;
                            padding-top:0;
                            margin-bottom:0.8125rem;
                        }
                            p{
                                margin-left:0;
                                margin-right:0;
                                margin-top:0;
                                padding-bottom:0;
                                padding-left:0;
                                padding-right:0;
                                padding-top:0;
                                margin-bottom:0.8125rem;
                            }
                                figure
                                {
                                    margin-left:0;
                                    margin-right:0;
                                    margin-top:0;
                                    padding-bottom:0;
                                    padding-left:0;
                                    padding-right:0;
                                    padding-top:0;
                                    margin-bottom:0.8125rem;
                                }
                                pre
                                {
                                    margin-left:0;
                                    margin-right:0;
                                    margin-top:0;
                                    padding-bottom:0;
                                    padding-left:0;
                                    padding-right:0;
                                    padding-top:0;
                                    margin-bottom:0.8125rem;
                                    font-size:0.85rem;
                                    line-height:1.625rem;
                                }
                                    table{
                                        margin-left:0;
                                        margin-right:0;
                                        margin-top:0;
                                        padding-bottom:0;
                                        padding-left:0;
                                        padding-right:0;
                                        padding-top:0;
                                        margin-bottom:3.25rem;
                                        font-size:1rem;
                                        line-height:1.625rem;
                                        border-collapse:collapse;
                                        width:100%;
                                    }
                                        fieldset
                                        {
                                            margin-left:0;
                                            margin-right:0;
                                            margin-top:0;
                                            padding-bottom:0;
                                            padding-left:0;
                                            padding-right:0;
                                            padding-top:0;
                                            margin-bottom:0.8125rem;
                                        }
                                            blockquote
                                            {
                                                margin-left:0;
                                                margin-right:0;
                                                margin-top:0;padding-bottom:0.8125rem;padding-left:calc(0.8125rem - 1px);padding-right:0;padding-top:0.8125rem;margin-bottom:0.8125rem;border-left:6px solid#FF9800;color:hsla(0,0%,0%,0.53);background:#FF980047;}form{margin-left:0;margin-right:0;margin-top:0;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;margin-bottom:0.8125rem;}noscript{margin-left:0;margin-right:0;margin-top:0;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;margin-bottom:0.8125rem;}iframe{margin-left:0;margin-right:0;margin-top:0;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;margin-bottom:0.8125rem;}hr{margin-left:0;margin-right:0;margin-top:0;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;margin-bottom:calc(0.8125rem - 1px);background:hsla(0,0%,0%,0.2);border:none;height:1px;}address{margin-left:0;margin-right:0;margin-top:0;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0;margin-bottom:0.8125rem;}b{font-weight:600;}strong{font-weight:600;}dt{font-weight:600;}th{font-weight:600;}li{margin-bottom:calc(0.8125rem / 2);}ol li{padding-left:0;}ul li{padding-left:0;}li > ol{margin-left:1.625rem;margin-bottom:calc(0.8125rem / 2);margin-top:calc(0.8125rem / 2);}li > ul{margin-left:1.625rem;margin-bottom:calc(0.8125rem / 2);margin-top:calc(0.8125rem / 2);}blockquote *:last-child{margin-bottom:0;}li *:last-child{margin-bottom:0;}p *:last-child{margin-bottom:0;}li > p{margin-bottom:calc(0.8125rem / 2);}code{font-size:0.85rem;line-height:1.625rem;}kbd{font-size:0.85rem;line-height:1.625rem;}samp{font-size:0.85rem;line-height:1.625rem;}abbr{border-bottom:1px dotted hsla(0,0%,0%,0.5);cursor:help;}acronym{border-bottom:1px dotted hsla(0,0%,0%,0.5);cursor:help;}abbr[title]{border-bottom:1px dotted hsla(0,0%,0%,0.5);cursor:help;text-decoration:none;}thead{text-align:left;}td,th{text-align:left;border-bottom:1px solid hsla(0,0%,0%,0.12);font-feature-settings:"tnum";-moz-font-feature-settings:"tnum";-ms-font-feature-settings:"tnum";-webkit-font-feature-settings:"tnum";padding-left:1.08333rem;padding-right:1.08333rem;padding-top:0.8125rem;padding-bottom:calc(0.8125rem - 1px);}th:first-child,td:first-child{padding-left:0;}th:last-child,td:last-child{padding-right:0;}h3,h4,h5,h6{margin-bottom:0.8125rem;margin-top:1.625rem;}
            ol,ul
            {margin-left:2.03125rem;
            }li>ol,li>ul
            {
                margin-left:2.03125rem;
            }a
            {
                color:#4078c0;
                text-decoration:none;
            }
            a:hover,a:active{
                text-decoration:underline;
            }
            h2,h3{
                margin-top:2.4375rem;}
                h1,h2{
                    border-bottom:none;}
       
.lpmWNO{
    margin:0.25rem 0.5rem;
    font-size:0.75rem;
    text-transform:uppercase;
    text-align:center;
    font-weight:bold;
}/*!sc*/


data-styled.g3[id="caption__Caption-sc-w9tm9f-0"]
{
    content:"lpmWNO,"
}/*!sc*/
.inHjgI{
    
    -webkit-animation:isiQnN 1s,eoUyJr 2s linear infinite;
    animation:isiQnN 1s,eoUyJr 2s linear infinite;
    width:30px;height:30px;}/*!sc*/
.inHjgI svg{width:100%;height:100%;fill:#FF9800;}/*!sc*/
data-styled.g4[id="spinner__Rotate-sc-1twop25-0"]{content:"inHjgI,"}/*!sc*/
.eaVWqN{
    margin:0;
    background:#FF9800;
    border-radius:0.5rem;
    padding:0.5rem 1rem;color:#fff;
    font-weight:700;border:1px solid #FF9800;background:transparent;color:#333;-webkit-transition:all 0.1s;transition:all 0.1s;}/*!sc*/
.eaVWqN:hover,.eaVWqN:focus{background:#FF9800;}/*!sc*/
.eaVWqN:hover,.eaVWqN:focus{border:1px solid transparent;background:#FF9800;color:#fff;}/*!sc*/
.kGyvkr{margin:0;background:#FF9800;border-radius:0.5rem;padding:0.5rem 1rem;color:#fff;font-weight:700;-webkit-transition:all 0.1s;transition:all 0.1s;}/*!sc*/
.kGyvkr:hover,.kGyvkr:focus{background:#FF9800;}/*!sc*/
data-styled.g5[id="button__Button-sc-5mhuas-0"]{content:"eaVWqN,kGyvkr,"}/*!sc*/
body{background:#202329;font-variant-ligatures:none;text-rendering:optimizelegibility;-webkit-font-smoothing:antialiased;-webkit-text-decoration-skip-ink:auto;text-decoration-skip-ink:auto;}/*!sc*/
header,main{background:#fff;}/*!sc*/
a{color:#333;}/*!sc*/
p a,li a{color:#333;border-bottom:2px solid #FF9800;-webkit-transition:all 0.1s;transition:all 0.1s;}/*!sc*/
a:hover,a:focus{-webkit-text-decoration:none;text-decoration:none;border-bottom:none;color:#FF9800;}/*!sc*/
li{list-style-type:none;}/*!sc*/
*::selection{color:#FF9800;background:#202329;}/*!sc*/
img{width:100%;height:auto;display:block;}/*!sc*/
data-styled.g7[id="sc-global-iEDSUG1"]{content:"sc-global-iEDSUG1,"}/*!sc*/
.gAffOP{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;height:60px;
    background:#ffffff;border-bottom:1px solid transparent;position:relative;z-index:2;}/*!sc*/
@media (max-width:40.625em){.gAffOP{border-bottom:none;}}/*!sc*/
.gAffOP .nav-item{-webkit-transition:all 0.1s;transition:all 0.1s;}/*!sc*/
.gAffOP .nav-item__primary{font-weight:700;}/*!sc*/
.gAffOP .home-icon{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}/*!sc*/
.gAffOP .home-icon svg{fill:#333;}/*!sc*/
data-styled.g8[id="header__Header-sc-1lpxlh0-0"]{content:"gAffOP,"}/*!sc*/
.FTZjD{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin:0 auto;width:100%;min-height:60px;padding:0 1.5rem;}/*!sc*/
@media (max-width:40.625em){.FTZjD{border-bottom:1px solid rgba(46,41,51,0.08);}}/*!sc*/
data-styled.g9[id="header__Nav-sc-1lpxlh0-1"]{content:"FTZjD,"}/*!sc*/
.iAukjk{color:#333;border:none;}/*!sc*/
.iAukjk:hover,.iAukjk:focus{color:#FF9800;}/*!sc*/
.iAukjk.active{color:#FF9800;}/*!sc*/
data-styled.g10[id="header__Link-sc-1lpxlh0-2"]{content:"iAukjk,"}/*!sc*/
.eQaOKO{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:0;margin:0;}/*!sc*/
.eQaOKO li{margin:0;}/*!sc*/
.eQaOKO li:not(:last-child){margin-right:1.75rem;}/*!sc*/
data-styled.g11[id="header__List-sc-1lpxlh0-3"]{content:"eQaOKO,"}/*!sc*/
.cLvlSE.mobile{display:none;padding:0.25rem 0.5rem;}/*!sc*/
@media (max-width:40.625em){.cLvlSE.desktop{display:none;}.cLvlSE.mobile{display:block;}}/*!sc*/
data-styled.g12[id="header__Button-sc-1lpxlh0-4"]{content:"cLvlSE,"}/*!sc*/
.gnCdgM span{font-size:0.75rem;}/*!sc*/
.gnCdgM span a{font-weight:bold;-webkit-transition:color 0.2s;transition:color 0.2s;color:#f5f5f5;border-bottom:1px solid #FF9800;}/*!sc*/
.gnCdgM span a:hover,.gnCdgM span a:focus{color:#FF9800;border-bottom:none;}/*!sc*/
data-styled.g13[id="footer__SignWrapper-sc-vp91ct-0"]{content:"gnCdgM,"}/*!sc*/
.MKcXW{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-flex-wrap:nowrap;-ms-flex-wrap:nowrap;flex-wrap:nowrap;position:relative;background:#202329;color:#9E9E9E;padding:4.5rem 0;min-height:calc(60px * 2);width:100%;}/*!sc*/
.MKcXW .mt{margin-top:1.25rem;}/*!sc*/
.MKcXW ul{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;margin:0;padding:0;width:100%;}/*!sc*/
.MKcXW ul li{margin:0;}/*!sc*/
.MKcXW ul li + li{margin-left:1.5rem;}/*!sc*/
.MKcXW ul li .footer-icon{vertical-align:middle;}/*!sc*/
.MKcXW ul li span{margin:0;}/*!sc*/
.MKcXW ul li a{color:#9E9E9E;border-bottom:none;}/*!sc*/
.MKcXW ul li a:hover,.MKcXW ul li a:focus{color:#FF9800;}/*!sc*/
data-styled.g14[id="footer__Wrapper-sc-vp91ct-1"]{content:"MKcXW,"}/*!sc*/
.dhmRna{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;color:#9E9E9E;}/*!sc*/
.dhmRna .stats{margin-left:0;}/*!sc*/
.dhmRna .server-icon{height:0.5rem;width:0.5rem;border-radius:50%;background:#55cc44;}/*!sc*/
data-styled.g15[id="footer__Status-sc-vp91ct-2"]{content:"dhmRna,"}/*!sc*/
.fNGvPz{padding-top:2px;}/*!sc*/
data-styled.g16[id="layout__Main-sc-1tka7c-0"]{content:"fNGvPz,"}/*!sc*/
.hRObzL{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;padding:4.5rem 0;background:#202329;min-height:calc(50vh - 60px);}/*!sc*/
@media (max-width:40.625em){.hRObzL{padding:1.5rem;}}/*!sc*/
data-styled.g21[id="showcase__Wrapper-sc-1x4wk68-0"]{content:"hRObzL,"}/*!sc*/
.hVhElu{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;max-width:1920px;}/*!sc*/
data-styled.g22[id="showcase__Inner-sc-1x4wk68-1"]{content:"hVhElu,"}/*!sc*/
.lgTwHp{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-align-items:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;height:calc(50vh - 60px);text-align:center;position:relative;}/*!sc*/
.lgTwHp .hero-image{position:absolute;width:100%;height:100%;}/*!sc*/
.lgTwHp .hero-image svg{width:100%;height:100%;fill:#f5f5f5;}/*!sc*/
@media (max-width:40.625em){.lgTwHp{padding:0 1.25rem;}}/*!sc*/
data-styled.g23[id="hero__Wrapper-sc-1h2eool-0"]{content:"lgTwHp,"}/*!sc*/
.jiKqlM{margin:0;color:#202329;border:none;font-weight:900;z-index:1;font-size:5.625rem;}/*!sc*/
@media (max-width:55.625em){.jiKqlM{font-size:3.75rem;}}/*!sc*/
@media (max-width:40.625em){.jiKqlM{font-size:3.125rem;}}/*!sc*/
data-styled.g24[id="hero__Title-sc-1h2eool-1"]{content:"jiKqlM,"}/*!sc*/
@-webkit-keyframes isiQnN{0%{opacity:0;}50%{opacity:0;}100%{opacity:1;}}/*!sc*/
@keyframes isiQnN{0%{opacity:0;}50%{opacity:0;}100%{opacity:1;}}/*!sc*/
data-styled.g25[id="sc-keyframes-isiQnN"]{content:"isiQnN,"}/*!sc*/
@-webkit-keyframes eoUyJr
{
    from
    {
    -webkit-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    transform:rotate(0deg);
}
to
{
    -webkit-transform:rotate(360deg); 
    -ms-transform:rotate(360deg);
    transform:rotate(360deg);
}
}/*!sc*/
@keyframes eoUyJr
{
    from{
        -webkit-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    to
    {-webkit-transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        transform:rotate(360deg);
    }
}/*!sc*/
data-styled.g26
[id="sc-keyframes-eoUyJr"]
{
    content:"eoUyJr,"
}/*!sc*/
